<!DOCTYPE html>
<html>
<head>
<title>Формы во Vue.js</title>
<meta charset="utf-8" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
<div id="app" class="col-md-2 p-3">
    <select v-model="suser" multiple>
        <option v-for="user in users" v-bind:value="user">{{user.name}}</option>
    </select>
    <br>
    <ul>
        <li v-for="user in suser">Выбрано: {{user.name}} - {{user.age}}</li>
    </ul>

</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            users:[
                {name:'Tom', age:22},
                {name:'Bob', age:25},
                {name:'Sam', age:28},
                {name:'Alice', age:26}
            ],
            suser: []
        }
    });
</script>
</body>
</html>