<!DOCTYPE html>
<html>
<head>
<title>Формы во Vue.js</title>
<meta charset="utf-8" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
<div id="app" class="col-md-2 p-3">
    <template v-for="user in users">
        <input type="radio" v-bind:value="user" v-model="selectedUser">
        <label>{{user.name}}</label> 
        <br>
    </template>
    <br>
    <span v-if="selecteduser!==''">Выбрано {{selectedUser.name}} - {{selectedUser.age}}</span>
</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            users: [
                {name: 'los', age: 22},
                {name: 'qwe', age: 23},
                {name: 'qq', age: 23}
            ],
            selectedUser: ''
        }
    });
</script>
</body>
</html>